$color-bg_primary: #FFFFFF;
$color-bg_secondary: #EDF2EC;
$color-head-nav: #010201;
$color-head-nav_hover: #E06733;
$color-btn_colored: #E06733;
$color-text_btn: #000000;
$color-text_btn_colored: #E06733;
$color-text_withe: #ffffff;
$color-text_gray: #717171;
$color-text_green: #499A18;
$color-text_red: #E06733;


$desktop-width: 1222px;
$tablet-width: 768px;
$mobile-width: 320px;