$color-bg_primary: #FFFFFF;
$color-bg_secondary: #EDF2EC;
$color-head-nav: #010201;
$color-text_black: #000000;
$color-text_h1_block: #717171;
$color-text_gray: #636060;
$color-text_green: #499A18;
$color-text_colored: #E06733;
$color-block_border: #E3E1D5;
$color-price_btn: #EDF2EC;
$color-price_btn-hover: #D6E7D2;


$desktop-width: 1222px;
$tablet-width: 768px;
$mobile-width: 320px;