@mixin font ($size: 2.0rem, $height: $size, $weight: 400, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin columns ($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  >* { flex-basis: $width; }
}

@mixin ico_btn ($circle_color, $path_color) {
    cursor: pointer;
    align-content: center;
    &_circle {
      fill: $circle_color;
    }
    &_path {
      stroke: $path_color;
    }
}
