.page-footer {
  background: $color-bg_primary;
  padding: 40px 108px 40px 110px;

  @include media-tablet {
    padding: 33px 50px 18px;
  }

  @include media-mobile {
    padding: 22px 85px 7px;
  }
}

.footer-wrapper {
  max-width: 1222px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-tablet {
    flex-direction: column;
    width: 210px;
    height: 130px;
  }

  @include media-mobile {
    height: 117px;
  }
}

.footer__year-git {
  width: 169px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 17px;

  @include media-tablet {
    width: 173px;
    margin: 0;
    color: $color-text_black;
    @include font($size: 2.0rem, $height: 2.4rem);
  }

  @include media-mobile {
    margin-bottom: 12px;
  }
}

.footer__github {
  color: $color-text_black;
  @include font($size: 2.0rem, $height: 5.0rem);
  text-decoration-line: none;
  cursor: pointer;
  @extend %transition;
  &:hover {
    color: $color-text_colored;
  }

  @include media-tablet {
    @include font($size: 2.0rem, $height: 2.4rem);
    margin-left: 3px;
  }
}

.footer__rss {
  white-space: nowrap;
  color: $color-text_black;
  @include font($size: 2.0rem, $height: 5.0rem);
  text-decoration-line: none;
  @extend %transition;

  @include media-tablet {
    @include font($size: 2.0rem, $height: 2.4rem);
  }
  &:hover {
    color: $color-text_colored;
  }
}

.social__icons {
  width: 188px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__link {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.social_icon {
  height: 32px;
  width: 32px;
  @extend %transition;
  &:hover {
    filter: invert(70%);
  }
}