.header {
  background: $color-bg_secondary;
  padding: 42px 109px 42px 111px;
  overflow: hidden;

  @include media-tablet {
    padding: 35px 50px;
  }

  @include media-mobile {
    padding: 36px 25px;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
