.navigation {
  width: 452px;
  max-width: 452px;
  min-width: 265px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %font-secondary;
  @include font($size: 1.6rem, $height: 5.0rem);

  @include media-tablet {
    margin-top: 5px;
  }

  @include media-mobile {
    width: 85px;
    display: none;
  }
}

.navigation__link a {
  color: $color-head-nav;
  text-decoration-line: none;
  cursor: pointer;
  @extend %transition;

  @include media-mobile {
    height: 20px;
  }
  &:hover {
    color: $color-text_colored;
    font-weight: 700;
  }
}
