.button {
  @extend %font-primary;
  @include font ($size: 1.6rem, $height: 2.0rem);
  cursor: pointer;
  @extend %transition;
  &_welcome {
    width: 158px;
    height: 44px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid $color-text_colored;
    color: $color-text_black;
    &:hover {
      background-color: $color-text_colored;
      border-color: $color-bg_primary;
      color: $color-bg_primary
    }
  }
  &_colored {
    @extend %font-secondary;
    @include font ($size: 2.0rem, $height: 2.6rem, $weight: 700);
    width: 161px;
    height: 50px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid $color-text_colored;
    color: $color-text_colored;
    @include media-mobile {
      width: 121px;
      height: 35px;
      @include font ($size: 1.5rem, $height: 2.0rem, $weight: 700);
    }
    &:hover {
      //background-color: $color-text_colored;
      //border-color: $color-text_colored;
      //color: $color-bg_primary;
    }
  }
  &_price {
    @include font ($size: 2.0rem, $height: 2.0rem, $weight: 700);
    width: 250px;
    height: 50px;
    border-radius: 20px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-price_btn;
    border: 0.5px solid $color-price_btn;
    color: $color-text_black;
    padding: 0 40px 0 38px;
    @include media-mobile {
      width: 180px;
      height: 50px;
      @include font ($size: 1.5rem, $height: 2.0rem, $weight: 700);
      padding: 0 40px 0 30px;
    }
    &:hover {
      background-color: $color-price_btn-hover;
      border-color: $color-price_btn-hover;
    }
  }
}

.button_price.opened {
  width: 250px;
  height: 154px;
}
