/* Гамбургер иконка */

.hamburger {
  width: 40px;
  height: 24px;
  position: relative;
}

.hamburger span {
  width: 40px;
  height: 2px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  transition: all 0.5s;
}

.hamburger span:nth-of-type(2) {
  top: calc(50% - 13px);
}
.hamburger span:nth-of-type(3) {
  top: calc(50% + 3px);
}
.hamburger span:nth-of-type(4) {
  top: calc(50% + 11px);
}


