.hamburger {
  width: 40px;
  height: 24px;
  background: transparent;
  border: transparent;
  position: absolute;
  display: none;
  z-index: 2;

  @include media-mobile {
    display: block;
    right: 0;
  }
}

.hamburger span {
  width: 40px;
  height: 2px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $color-text_h1_block;
  transition: all 0.5s;
}

.hamburger span:nth-of-type(2) {
  top: calc(50% - 13px);
}
.hamburger span:nth-of-type(3) {
  top: calc(50% + 3px);
}
.hamburger span:nth-of-type(4) {
  top: calc(50% + 11px);
}


