.ico {
  display: inline-flex;
  cursor: pointer;
}

.ico_btn-price {
  background-image: url("../../img/icons/ico-accord_btn-price.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.ico_btn-price.opened {
  rotate: 180deg;
}

.ico_btn-city {
  background-image: url("../../img/icons/ico-accord_btn-city.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.ico_btn-city.opened {
  rotate: 180deg;
}