.logo {
  display: flex;
  @extend %font-secondary;
  @include font ($size: 1.6rem, $height: 5.0rem);
  color: $color-head-nav;
  text-decoration-line: none;
  cursor: pointer;
  @extend %transition;
  &:hover {
    color: $color-text_colored;
  }
}

.logo-object {
  margin-bottom: 10px;

  @include media-tablet {
    //margin-bottom: 10;
  }
}

.logo-svg {
  cursor: pointer;
  align-content: center;
  &:hover {
    .logo-path {
      fill: $color-text_colored;
    }
  }
}

.logo-path {
  @extend %transition;
}
