.logo-object {
  display: flex;
  margin-bottom: 10px;
}

.logo-svg {
  cursor: pointer;
  align-content: center;
  &:hover {
    .logo-path {
      fill: $color-text_colored;
    }
  }
}

.logo-path {
  @extend %transition;
}
