.page-about {
  background: $color-bg_primary;
  padding: 93px 109px 94px;
  overflow: hidden;

  @include media-tablet {
    padding: 40px 50px 95px;
  }

  @include media-mobile {
    padding: 30px 25px;
  }
}

.about__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-tablet {
    flex-direction: column;
    align-content: end;
    justify-content: right;
  }
}

.about__title {
  max-width: 463px;
  margin-top: 67px;
  margin-bottom: 38px;

  @include media-tablet {
    text-align: center;
    margin: 0 122px 50px;
  }
}

.about__title span {
  color: $color-text_colored;
}

.about__text {
  max-width: 605px;
  color: $color-text_gray;
  line-height: 1.5;
  margin: 0 0 60px;

  @include media-tablet {
    @include font($size: 2.0rem, $height: 3.0rem);
    max-width: 668px;
    margin-bottom: 68px;
  }
}

.about__image {
  max-width: 464px;

  @include media-tablet {
    width: 250px;
    height: 258px;
  }
}