.page-about {
  background: $color-bg_primary;
  padding: 93px 109px 94px;
  overflow: hidden;

  @include media-tablet {
    padding: 40px 50px 95px;
  }

  @include media-mobile {
    padding: 30px 25px;
  }
}

.about__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-tablet {
    flex-direction: column;
    align-content: end;
    justify-content: right;
  }
}

.about__content {
  padding-right: 155px;

  @include media-tablet {
    padding-right: 0;
  }
}

.about__title {
  margin-top: 67px;
  margin-bottom: 38px;

  @include media-tablet {
    text-align: center;
    margin: 0 122px 50px;
  }
}

.about__title span {
  color: $color-text_colored;
}

.about__text {
  color: $color-text_gray;
  line-height: 1.5;
  margin: 0 0 60px;

  @include media-tablet {
    @include font($size: 2.0rem, $height: 3.0rem);
    margin-bottom: 70px;
  }
}

.about__image {

  @include media-tablet {
    max-width: 250px;
  }
}