.page-contacts {
  background: $color-bg_secondary;
  padding: 51px 109px 0;

  @include media-tablet {
    padding: 40px 50px 0;
  }

  @include media-mobile {
    padding: 25px 40px 0 37px;
  }
}

.contacts_wrapper {
  min-height: 497px;
  display: flex;
  flex-direction: column;

  @include media-mobile {
    min-height: 420px;
  }
}

.contacts__title {
  text-align: center;
  @include font($size: 4.0rem, $height: 5.2rem, $weight: 700);
  margin-top: 7px;

  @include media-tablet {
    max-width: 450px;
    display: flex;
    margin: auto;
    @include font($size: 4.0rem, $height: 5.2rem, $weight: 700);
  }

  @include media-mobile {
    @include font($size: 2.5rem, $height: 3.3rem, $weight: 700);
  }
}

.contacts__image {
  position: absolute;
  width: 400px;
  height: 497px;
  background-image: url('../img/contacts/contact_woman.png');
  background-repeat: no-repeat;
  background-size: cover;

  @include media-tablet {
    position: relative;
    max-width: 200px;
    height: 248.5px;
    left: 10px;
    margin: auto;
  }

  @include media-mobile {
    width: 100px;
    height: 124.25px;
    background-position: bottom;
    left: auto;
    margin: auto;
  }
}

.contacts__accordion-btn {
  display: flex;
  justify-content: right;
  margin-top: 37px;

  @include media-tablet {
    justify-content: center;
    margin-top: 99px;
    margin-bottom: 249px;
  }

  @include media-mobile {
    max-width: 300px;
    margin-top: 80px;
    margin-bottom: 132px;
  }
}