.page-contacts {
  background: $color-bg_secondary;
  padding: 60px 109px 0;

  //overflow: hidden;

  @include media-tablet {
    padding: 40px 159px 0;
  }

  @include media-mobile {
    padding: 25px 96px 0;
  }
}

.contacts__wrapper {
  //display: flex;
  position: relative;
}

.contacts__content {
  text-align: center;
}

.contacts__image {
  position: absolute;
  margin: 0;
}

.contacts__title {
  @include font($size: 4.0rem, $height: 5.2rem, $weight: 700);
  margin-left: 1px;
  //text-align: left;
  //margin: 7px 0 36px 113px;
}

.contacts__button {
  //margin: 0 0 0 372px;
  //@include media-desktop {
  //  margin: 0;
  //}
}