.page-service {
  background: $color-bg_secondary;
  padding: 40px 109px 68px;
}

.service__wrapper {
  justify-content: space-between;
}

.service__content {
  display: flex;
  align-items: center;
  margin: 0 0 78px;
}

.service__title {
  width: 306px;
  margin-right: 142px;
}

.service__buttons {
  display: flex;
  justify-content: space-between;
}

.service-block {
  border: 1px solid $color-block_border;
  border-radius: 20px;
  margin-bottom: 53px;
}

.block__content {
  text-align: center;
}

.block__name {
  color: $color-text_colored;
  margin: 0 0 13px;
}

.block__text {
  color: $color-text_h1_block;
  @extend %font-primary;
  @include font($size: 1.6rem, $height: 2.0rem);
  margin-bottom: 36px;
}