.page-service {
  background: $color-bg_secondary;
  padding: 40px 109px 66px;

  @include media-tablet {
    padding: 60px 50px 32px;
  }

  @include media-mobile {
    padding: 30px 50px 27px 25px;
  }
}

.service__wrapper {
  max-width: 1007px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 77px;

  @include media-tablet {
    flex-direction: column;
    align-items: start;
    margin-bottom: 40px;
  }
}

.service__title {
  max-width: 306px;
  //margin-right: 141px;
  margin-bottom: 3px;

  @include media-tablet {
    margin-bottom: 42px;
  }
}

.service__buttons {
  width: 559px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-card {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 450px;
  border: 1px solid $color-block_border;
  border-radius: 20px;
  margin-bottom: 55px;

  @include media-tablet {
    margin-bottom: 38px;
  }
}

.card__image {
  width: 330px;
  height: 350px;
  background-repeat: no-repeat;
  background-position:center center;
  background-size: cover;
  border-radius: 20px 20px 0 0;
  margin-bottom: 10px;

  @include media-tablet {
    width: 280px;
  }
}

.item-1 {
  background-image: url('../img/services/service-1.png');
}

.item-2 {
  background-image: url('../img/services/service-2.png');
}

.item-3 {
  background-image: url('../img/services/service-3.png');
}

.item-4 {
  background-image: url('../img/services/service-4.png');
}

.item-5 {
  background-image: url('../img/services/service-5.png');
}

.item-6 {
  background-image: url('../img/services/service-6.png');
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__name {
  color: $color-text_colored;
  margin-bottom: 14px;

  @include media-tablet {
    margin-bottom: 10px;
  }
}

.card__text {
  color: $color-text_h1_block;
  @extend %font-primary;
  @include font($size: 1.6rem, $height: 2.0rem);

  @include media-tablet {
    width: 203px;
    text-align: center;
  }
}