.page-welcome {
  background: $color-bg_secondary;
  padding: 62px 109px 60px;
}

.welcome__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome__image {
  width: 448px;
}

.welcome__content{
  display: block;
  padding-left: 225px;
}

.welcome__title {
  margin-bottom: 45px;
}

.welcome__title span {
  color: $color-text_green;
}

.welcome__text {
  margin-bottom: 45px;
}

.button_welcome {
  margin-bottom: 30px;
}