.page-welcome {
  background: $color-bg_secondary;
  padding: 62px 109px 62.642px;
}

.welcome__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome__image {
  height: 407.36px;
}

.welcome__content{
  display: block;
  padding-left: 226px;
}

.welcome__title {
  margin-top: 34px;
  margin-bottom: 45px;
}

.welcome__title span {
  color: $color-text_green;
}

.welcome__text {
  color: $color-text_gray;
  margin-bottom: 45px;
}

.button_welcome {
  margin-bottom: 30px;
}