/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

section, main, footer, header, article {
  display: block;
}

* {
  box-sizing: border-box;
}

.prices__contact, .prices__title, .card__text, .button, h3, h1, body {
  font-family: Inter, Verdana, sans-serif;
}

.navigation, .button_colored, .logo, h2 {
  font-family: Inika, Verdana, sans-serif;
}

.social_icon, .footer__rss, .footer__github, .navigation__link a, .button, .logo-path, .logo {
  transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 768px) {
  body {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 380px) {
  body {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    font-style: normal;
  }
}

h1 {
  color: #717171;
  margin: 0;
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: 700;
  font-style: normal;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3.5rem;
    line-height: 5rem;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 380px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    font-style: normal;
  }
}

h2 {
  color: #499A18;
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 768px) {
  h2 {
    font-size: 3.5rem;
    line-height: 4.6rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 380px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.3rem;
    font-weight: 400;
    font-style: normal;
  }
}

h3 {
  color: #000000;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  font-size: 1.6rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: normal;
  color: #010201;
  text-decoration-line: none;
  cursor: pointer;
}
.logo:hover {
  color: #E06733;
}

.logo-object {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .logo-object {
    margin-bottom: 5px;
  }
}
@media (max-width: 380px) {
  .logo-object {
    margin-bottom: 3px;
  }
}

.logo-svg {
  cursor: pointer;
  align-content: center;
}
.logo-svg:hover .logo-path {
  fill: #E06733;
}

.button {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}
.button_welcome {
  width: 158px;
  height: 44px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #E06733;
  color: #000000;
}
.button_welcome:hover {
  background-color: #E06733;
  border-color: #FFFFFF;
  color: #FFFFFF;
}
.button_colored {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 700;
  font-style: normal;
  width: 161px;
  height: 50px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #E06733;
  color: #E06733;
}
@media (max-width: 380px) {
  .button_colored {
    width: 121px;
    height: 35px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    font-style: normal;
  }
}
.button_colored:hover {
  background-color: #E06733;
  border-color: #E06733;
  color: #FFFFFF;
}
.button_price {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  font-style: normal;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EDF2EC;
  border: 0.5px solid #EDF2EC;
  color: #000000;
  padding: 0 40px 0 38px;
}
@media (max-width: 380px) {
  .button_price {
    width: 180px;
    height: 50px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    font-style: normal;
    padding: 0 40px 0 30px;
  }
}
.button_price:hover {
  background-color: #D6E7D2;
  border-color: #D6E7D2;
}
.button_city {
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.05em;
  width: 450px;
  height: 50px;
  border-radius: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D6E7D2;
  border: 0.5px solid #D6E7D2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #717171;
  text-align: left;
  padding-left: 20px;
  padding-right: 35px;
}
@media (max-width: 380px) {
  .button_city {
    width: 300px;
    height: 50px;
    padding: 5px 20px;
  }
}
.button_city:hover {
  background-color: #C1E698;
  border-color: #C1E698;
}

.ico {
  display: inline-flex;
  cursor: pointer;
}

.ico_btn-price {
  background-image: url("../img/icons/ico-accord_btn-price.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.ico_btn-city {
  background-image: url("../img/icons/ico-accord_btn-city.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.hamburger {
  width: 40px;
  height: 24px;
  background: transparent;
  border: transparent;
  position: absolute;
  display: none;
  z-index: 0;
}
@media (max-width: 380px) {
  .hamburger {
    display: block;
    right: 0;
  }
}

.hamburger.active {
  z-index: 2;
}

.hamburger span {
  width: 40px;
  height: 2px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #717171;
}

.hamburger span:nth-of-type(2) {
  top: calc(50% - 13px);
}

.hamburger span:nth-of-type(3) {
  top: calc(50% + 3px);
}

.hamburger span:nth-of-type(4) {
  top: calc(50% + 11px);
}

.hamburger.active span:nth-of-type(1) {
  display: none;
}

.hamburger.active span:nth-of-type(3) {
  display: none;
}

.hamburger.active span:nth-of-type(2) {
  top: 50%;
  width: 20px;
  background: #E06733;
  transform: translate(-30%, 0%) rotate(45deg);
}

.hamburger.active span:nth-of-type(4) {
  top: 50%;
  width: 20px;
  background: #E06733;
  transform: translate(-30%, 0%) rotate(-45deg);
}

.wrapper {
  max-width: 1222px;
  margin: auto;
}

.navigation {
  width: 452px;
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  align-items: center;
  font-size: 1.6rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 768px) {
  .navigation {
    margin-top: 5px;
  }
}
@media (max-width: 380px) {
  .navigation {
    width: 85px;
    display: none;
  }
}

.navigation__link a {
  color: #010201;
  text-decoration-line: none;
  cursor: pointer;
}
@media (max-width: 380px) {
  .navigation__link a {
    height: 20px;
  }
}
.navigation__link a:hover {
  color: #E06733;
  font-weight: 700;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 45%;
}
@media (max-width: 380px) {
  .layout-2-column {
    display: flex;
    justify-content: center;
  }
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 55px;
}
.layout-3-column > * {
  flex-basis: 27%;
}
@media (max-width: 768px) {
  .layout-3-column {
    gap: 38px;
  }
}
@media (max-width: 380px) {
  .layout-3-column {
    justify-content: center;
    gap: 34px;
  }
}

.header {
  background: #EDF2EC;
  padding: 42px 109px 42px 111px;
}
@media (max-width: 768px) {
  .header {
    padding: 35px 50px;
  }
}
@media (max-width: 380px) {
  .header {
    padding: 36px 25px;
  }
}

.header__wrapper {
  max-width: 1220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header__wrapper {
    height: 47px;
  }
}
@media (max-width: 380px) {
  .header__wrapper {
    height: 24px;
    position: relative;
  }
}

.menu {
  display: flex;
}
@media (max-width: 380px) {
  .menu {
    position: relative;
    justify-content: left;
    width: 180px;
    height: 180px;
    border: 1px solid #E06733;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: #EDF2EC;
    top: 62px;
    right: -10px;
    transform: translateY(-120%);
    transition: transform 0.5s;
    z-index: 1;
  }
  .menu .navigation {
    width: 85px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 10px;
  }
  .menu .navigation__link {
    height: 30px;
  }
  .menu .menu__image {
    position: absolute;
    width: 157px;
    height: 175px;
    transform: scale(0.5) rotateY(180deg);
    background-image: url("../img/prices/leafs.png");
    background-repeat: no-repeat;
    top: 30px;
    left: 48px;
  }
}

.menu.active {
  transform: translateY(0);
}

.page-footer {
  background: #FFFFFF;
  padding: 40px 108px 40px 110px;
}
@media (max-width: 768px) {
  .page-footer {
    padding: 33px 279px 18px;
  }
}
@media (max-width: 380px) {
  .page-footer {
    padding: 22px 85px 7px;
  }
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer-wrapper {
    height: 130px;
    flex-direction: column;
  }
}
@media (max-width: 380px) {
  .footer-wrapper {
    height: 117px;
  }
}

.footer__year-git {
  width: 169px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 17px;
}
@media (max-width: 768px) {
  .footer__year-git {
    width: 173px;
    margin: 0;
    color: #000000;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 380px) {
  .footer__year-git {
    margin-bottom: 12px;
  }
}

.footer__github {
  color: #000000;
  font-size: 2rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: none;
  cursor: pointer;
}
.footer__github:hover {
  color: #E06733;
}
@media (max-width: 768px) {
  .footer__github {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 400;
    font-style: normal;
    margin-left: 3px;
  }
}

.footer__rss {
  white-space: nowrap;
  color: #000000;
  font-size: 2rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: normal;
  text-decoration-line: none;
}
@media (max-width: 768px) {
  .footer__rss {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 400;
    font-style: normal;
  }
}
.footer__rss:hover {
  color: #E06733;
}

.social__icons {
  width: 188px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__link {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.social_icon {
  height: 32px;
  width: 32px;
}
.social_icon:hover {
  filter: invert(70%);
}

.page-welcome {
  background: #EDF2EC;
  padding: 63px 109px 62px;
}
@media (max-width: 768px) {
  .page-welcome {
    padding: 40px 50px 70px;
  }
}
@media (max-width: 380px) {
  .page-welcome {
    padding: 26px 25px 24px;
  }
}

.welcome__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .welcome__wrapper {
    flex-direction: row-reverse;
    align-items: start;
  }
}

.welcome__image {
  width: 448px;
  height: 407px;
  background-image: url("../img/welcome/leafs.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .welcome__image {
    width: 280px;
    height: 254px;
  }
}
@media (max-width: 380px) {
  .welcome__image {
    display: none;
  }
}

.welcome__content {
  width: 549px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .welcome__content {
    width: 346px;
  }
}
@media (max-width: 380px) {
  .welcome__content {
    width: 330px;
  }
}

.welcome__title span {
  color: #499A18;
}

.welcome__text {
  color: #636060;
  margin-top: 44px;
  margin-bottom: 47px;
}
@media (max-width: 768px) {
  .welcome__text {
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 36px;
  }
}
@media (max-width: 380px) {
  .welcome__text {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

@media (max-width: 380px) {
  .button-welcome_media {
    width: 100px;
    height: 34.14px;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
    margin-top: 0.88px;
  }
}

.page-about {
  background: #FFFFFF;
  padding: 93px 109px 94px;
}
@media (max-width: 768px) {
  .page-about {
    padding: 40px 50px 95px;
  }
}
@media (max-width: 380px) {
  .page-about {
    padding: 30px 25px 31px;
  }
}

.about__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .about__wrapper {
    flex-direction: column;
    justify-content: right;
  }
}

.about__title {
  max-width: 463px;
  margin-top: 67px;
  margin-bottom: 38px;
}
@media (max-width: 768px) {
  .about__title {
    text-align: center;
    margin: 0 122px 50px;
  }
}
@media (max-width: 380px) {
  .about__title {
    margin: 0 0 13px;
  }
}

.about__title span {
  color: #E06733;
}

.about__content {
  max-width: 605px;
  color: #636060;
  line-height: 1.5;
  margin: 0 0 60px;
}
@media (max-width: 768px) {
  .about__content {
    max-width: 668px;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 68px;
  }
}
@media (max-width: 380px) {
  .about__content {
    max-width: 330px;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 4px;
  }
}

.about__image {
  max-width: 464px;
}
@media (max-width: 768px) {
  .about__image {
    width: 250px;
    height: 258px;
  }
}
@media (max-width: 380px) {
  .about__image {
    width: 150px;
    height: 147px;
    object-fit: cover;
  }
}

.page-service {
  background: #EDF2EC;
  padding: 40px 109px 121px;
}
@media (max-width: 768px) {
  .page-service {
    padding: 60px 50px 70px;
  }
}
@media (max-width: 380px) {
  .page-service {
    padding: 30px 25px 27px;
  }
}

.service__content {
  max-width: 1007px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .service__content {
    flex-direction: column;
    align-items: start;
    margin-bottom: 40px;
  }
}

.service__title {
  max-width: 306px;
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .service__title {
    margin-bottom: 42px;
  }
}
@media (max-width: 380px) {
  .service__title {
    max-width: 187px;
    margin-bottom: 38px;
  }
}

.service__buttons {
  max-width: 559px;
  gap: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin-bottom: 42px;
}
@media (max-width: 768px) {
  .service__buttons {
    justify-content: left;
    margin-bottom: 0;
  }
}
@media (max-width: 380px) {
  .service__buttons {
    justify-content: left;
    gap: 9px;
    flex-wrap: wrap;
  }
}

.button-service_media {
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 380px) {
  .button-service_media {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
  }
}

.service-card {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 450px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}

.card__image {
  width: 330px;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 20px 20px 0 0;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .card__image {
    width: 280px;
  }
}

.item-1 {
  background-image: url("../img/services/service-1.png");
}

.item-2 {
  background-image: url("../img/services/service-2.png");
}

.item-3 {
  background-image: url("../img/services/service-3.png");
}

.item-4 {
  background-image: url("../img/services/service-4.png");
}

.item-5 {
  background-image: url("../img/services/service-5.png");
}

.item-6 {
  background-image: url("../img/services/service-6.png");
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__name {
  color: #E06733;
  margin-bottom: 14px;
}
@media (max-width: 768px) {
  .card__name {
    margin-bottom: 10px;
  }
}

.card__text {
  color: #717171;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 768px) {
  .card__text {
    width: 203px;
    text-align: center;
  }
}

.page-prices {
  background: #FFFFFF;
  padding: 39px 109px 115px;
}
@media (max-width: 768px) {
  .page-prices {
    padding: 40px 50px 88px;
  }
}
@media (max-width: 380px) {
  .page-prices {
    padding: 25px 75px 40px;
  }
}

@media (max-width: 380px) {
  .prices-column_one {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
}

.prices__title {
  color: #000000;
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .prices__title {
    font-size: 3.5rem;
    line-height: 4.2rem;
    font-weight: 700;
    font-style: normal;
    margin-left: 15px;
    margin-bottom: 57px;
  }
}
@media (max-width: 380px) {
  .prices__title {
    width: 230px;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    font-style: normal;
    margin-left: 0;
    margin-bottom: 37px;
  }
}

.prices__block {
  width: 332px;
  height: 282px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
@media (max-width: 380px) {
  .prices__block {
    width: 224px;
    height: 235px;
  }
}

.block__buttons {
  height: 214px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 34px 41px;
}
@media (max-width: 380px) {
  .block__buttons {
    height: 177px;
    margin: 29px 22px;
  }
}

.prices-column_two {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
}
@media (max-width: 380px) {
  .prices-column_two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.prices__contact {
  color: #000000;
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 41px;
}
@media (max-width: 768px) {
  .prices__contact {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    font-style: normal;
    margin-top: 100px;
    margin-bottom: 28px;
  }
}
@media (max-width: 380px) {
  .prices__contact {
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: 700;
    font-style: normal;
    width: 230px;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.prices__contact span {
  color: #499A18;
}

.prices__image {
  width: 157px;
  height: 175px;
  transform: scale(1);
  background-image: url("../img/prices/leafs.png");
  background-repeat: no-repeat;
  margin-top: 35px;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .prices__image {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    font-style: normal;
    margin-top: 29px;
    margin-bottom: 5px;
  }
}
@media (max-width: 380px) {
  .prices__image {
    display: none;
  }
}

.page-contacts {
  background: #EDF2EC;
  padding: 51px 109px 0;
}
@media (max-width: 768px) {
  .page-contacts {
    padding: 40px 159px 0;
  }
}
@media (max-width: 380px) {
  .page-contacts {
    padding: 25px 40px 0 37px;
  }
}

.contacts_wrapper {
  min-height: 497px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 380px) {
  .contacts_wrapper {
    min-height: 420px;
  }
}

.contacts__title {
  text-align: center;
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 700;
  font-style: normal;
  margin-top: 7px;
}
@media (max-width: 768px) {
  .contacts__title {
    max-width: 450px;
    font-size: 4rem;
    line-height: 5.2rem;
    font-weight: 700;
    font-style: normal;
    margin: 0;
  }
}
@media (max-width: 380px) {
  .contacts__title {
    font-size: 2.5rem;
    line-height: 3.3rem;
    font-weight: 700;
    font-style: normal;
  }
}

.contacts__image {
  position: absolute;
  width: 400px;
  height: 497px;
  background-image: url("../img/contacts/contact_woman.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .contacts__image {
    position: relative;
    max-width: 200px;
    height: 248.5px;
    justify-self: center;
    left: 10px;
    margin: auto;
  }
}
@media (max-width: 380px) {
  .contacts__image {
    width: 100px;
    height: 124.25px;
    background-position: bottom;
    left: auto;
    margin: auto;
  }
}

.contacts__accordion-btn {
  display: flex;
  justify-content: right;
  margin-top: 37px;
}
@media (max-width: 768px) {
  .contacts__accordion-btn {
    justify-content: center;
    margin-top: 99px;
    margin-bottom: 249px;
  }
}
@media (max-width: 380px) {
  .contacts__accordion-btn {
    max-width: 300px;
    margin-top: 80px;
    margin-bottom: 132px;
  }
}

/*# sourceMappingURL=style.css.map */
